<!DOCTYPE html>
<html ng-app='store'>
	<head>
		<link rel='stylesheet' type='text/css' href='css/bootstrap.min.css' />
		<link rel='stylesheet' type='text/css' href='css/style.css' />
	</head>

	<body ng-controller='StoreController as store'>
		<ul class='list-group'>
			<li class='list-group-item' ng-repeat='product in store.products' ng-hide='product.soldOut'>
				<h3>
					<product-title></product-title>
					<img ng-src='{{ product.images[0].full }}' />
					<button ng-show='product.canPurchase'>Add to Cart</button>
				</h3>

				<product-panels></product-panels>
			</li>
		</ul>

		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>